@use "mixins" as *;
@import "reset";

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  @include flex();
}

@import "backgrounds";

.splash {
  display: none;
}

@import "splash";
@import "main";

.hidden {
  display: none;
}
