@use "mixins" as *;
@import "reset";

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  @include flex();
}

.body1 {
  background-image: url(./images/mojave_dynamic_4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.body2 {
  background-image: url(./images/mojave_dynamic_10.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: lightgray;
}

.body3 {
  background-image: url(./images/mojave_dynamic_13.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: lightgray;
}

.splash {
  display: none;
}

@import "splash";
@import "main";

.hidden {
  display: none;
}
